<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ADM - eREAD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form-adm.css') }}">

</head>
<body>
  
    <div class="form-container">
     <img src="../static/img_produtos/logoMascote.png" alt="Logo" class="logo">
      <h2 class="titulo">Login Administrativo</h2>

     <form action="/login" method="post">
      <div class="input-group">
        <label for="username">Usuário</label>
        <input type="text" name="username" id="username" placeholder="Digite seu usuário">
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha">
      </div>

        <button type="submit" class="btn">Entrar</button>
     </form>
  </div>
        
</body>
</html>