@charset "UTF-8";


div > h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.texto > p {
    text-align: justify;
}


.produto-container {
    display: flex;
    align-items: flex-start;
    gap: 40px; 
    padding: 50px;
}

.produto-container img {
    width: 300px; 
    height: auto;
    padding: 0;
}

.produto-container .texto {
    max-width: 600px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.image_produto {
    padding-left: 250px;
}

.compra {

    background-color: #00a650; 
    color: white;
    padding: 12px 24px;
    margin-top: 30px;
    border: none;
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-carrinho {
    background-color: #00cc5828;
    border-color: transparent;
    padding: 12px 24px;
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #01873b;
}

.compra:hover {
    background-color: #00cc5a; 
}

.add-carrinho:hover {
    background-color: #020e0727; 
}


.valor {
    font-family: arial, sans-serif;
    padding-left: 10px;
    font-size: 28px;
    color: #000000;
    margin-top: 20px;
    font: bold;
}


/*TESTE*/

.sidebar-carrinho {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    transition: right 0.3s;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
}
.sidebar-carrinho.aberta {
    right: 0;
}

.sidebar-carrinho > h2 {
    color: #2443B7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
  
}

#comprar-btn {
    background-color: #00a650; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

#ver-carrinho-btn {
    background-color: #00cc5828;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 10px; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
    color: #01873b; 
}
